In [19]:
import pandas as pd
import numpy as np

In [20]:
s = pd.date_range("20130202", periods = 6)

In [21]:
s

DatetimeIndex(['2013-02-02', '2013-02-03', '2013-02-04', '2013-02-05',
               '2013-02-06', '2013-02-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6,4), index = s, columns=list("ABCD"))

In [23]:
df

                   A         B         C         D
2013-02-02 -1.348223  1.307837 -1.456943  1.087572
2013-02-03 -1.103424  0.835905  0.555344  1.138279
2013-02-04  0.787659 -0.134480  0.433685 -0.390815
2013-02-05  1.688236  1.170035  0.989883  1.836961
2013-02-06  0.874431 -0.169767  1.150387  0.401470
2013-02-07  0.784132  0.333005  1.321940  0.595146